<%- include('parts/html-head.ejs') %>
<%- include('parts/html-navbar.ejs') %>

<div class="container">
    <h2>
        Hello, <%= name %>
    </h2>
</div>

<%- include('parts/html-scripts.ejs') %>
<%- include('parts/html-foot.ejs') %>